/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    mbox-consumer {
        compatible = "vnd,mbox-consumer";
        mboxes = <&secure_proxy 16>, <&secure_proxy 17>;
        mbox-names = "tx", "rx";
		status = "okay";
    };

    secure_proxy: mailbox0@4d000000 {
			compatible = "ti,am62-secure-proxy";
			#mbox-cells = <1>;
			reg-names = "target_data", "rt", "scfg";
			reg = <0x4d000000 0x80000>,
			      <0x4a600000 0x80000>,
			      <0x4a400000 0x80000>;
			status="okay";
		};

};
